# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Visual Studio cache files
*.cache
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# User-specific files
settings.json
*.swp
*~
.DS_Store

# Windows image file caches
Thumbs.db

# Distribution files
publish/
*.zip
ehthumbs.db

# Folder config file
Desktop.ini
